@{
    ViewBag.Title = "Home Page";
}

<style>
    table{
        width: 100%;
    }
    table, th, td{
        border: 1px solid gray;
    }
    td, th{
        padding: 4px;
    }
</style>

<div class="jumbotron">
    <h1>Students</h1>
</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Francesco</td>
            <td>Basco</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mario</td>
            <td>Rossi</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Enrico</td>
            <td>Verdi</td>
        </tr>
    </tbody>

</table>

